body {
  margin: 0;
  background-image: url(/imagenes/fondo-body.jpg);
  background-attachment: fixed;
  background-position: center 0;
  background-size: cover;
  height: 100dvh;
}

header {
  background-color: rgb(58, 58, 58);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20dvh;
}

.cuadro-texto {
  padding: 2dvh 0 2dvh 0;
  align-self: center;
  width: 30dvw;
  height: 1dvh;
}

.barra-superior {
  padding: 2dvh 0 2dvh 0;
  display: flex;
  justify-content: center;
  background-color: rgb(227, 148, 0);
  width: 100%;
  height: 8vh;
}

.logo-pokemon {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* EMPIEZO AQUÍ LOS ESTILOS DEL CSS
* @author: Javier Rico Navarro
*/

#contenedor-pokemon {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding-left: 5%;
  margin-top: 2%;
}

.carta-pokemon {
  background-image: url(/imagenes/fondo-carta.jpg);
  border: 5px solid rgb(0, 0, 0);
  width: 20dvw;
  height: 40dvh;
  margin-top: 20%;
}

.pokemon-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carta-pokemon img {
  width: 70%;
  height: 70%;
}

.bloque-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
}