/*
@Author: Javier Rico Navarro
@Author: Manuel José Muñoz Marín
 */

body {
  margin: 0;
  background-image: url(/imagenes/fondo-body.jpg);
  background-attachment: fixed;
  background-position: center 0;
  background-size: cover;
  height: 100dvh;
}

.dark-mode {
  background-color: #333;
  color: #fff;
  background-image: none;
}

.dark-mode #contenedor-pokemon * {
  background-color: #444;
  color: #fff;
}

.dark-mode .carta-pokemon {
  padding: 0;
}


header {
  background-color: rgb(58, 58, 58);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20dvh;
}

@media (max-width: 768px) {
  header {
    height: 10vh;
  }
}

@media (max-width: 435px) {
  .contenedor-tipos {
    font-size: 0.7em;
  }

}

.boton-modonocturno {
  margin-left: 1%;
  align-self: center;
}

#modo-nocturno {
  background-color: rgb(180, 180, 180);
}

#modo-nocturno img {
  height: 30px;
  width: auto;
}

#cuadro-texto {
  align-self: center;
  padding: 2dvh 0 2dvh 0;
  width: 20dvw;
  height: 0.03dvh;
  margin-right: 39%;
}

.barra-superior {
  padding: 2dvh 0 2dvh 0;
  display: flex;
  justify-content: space-between;
  background-color: rgb(227, 148, 0);
  width: 100%;
  height: 8vh;
}

.logo-pokemon {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* EMPIEZO AQUÍ LOS ESTILOS DEL CSS
* @author: Javier Rico Navarro
*/


#contenedor-pokemon {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: 1fr;
  gap: 1dvw;
  padding: 1%;
  max-width: 100dvw;
  justify-items: center;
}


.carta-pokemon {
  /* background-image: url(/imagenes/fondo-carta.jpg); */
  background-color: white;
  border: 5px solid rgb(0, 0, 0);
  width: 28dvw;
  height: auto;
  margin-top: 20%;
  text-decoration: none;
  color: black;
  padding: 2%;
}

@media (min-width: 1280px) {

  #contenedor-pokemon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1dvw;
    padding: 1%;
    max-width: 100dvw;
    justify-items: center;
  }


  .carta-pokemon {
    width: 30vw;
    height: auto;
    margin-top: 15%;
  }
}

.pokemon-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-nombre {
  text-transform: capitalize;
}

.contenedor-tipos {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  gap: 1em;
}

.pokemon-tipos1 {
  text-transform: capitalize;
  font-size: 1.2em;
  border: 0.2rem solid;
}

.pokemon-tipos2 {
  text-transform: capitalize;
  font-size: 1.2em;
  border: 0.2rem solid;
}

.carta-pokemon img {
  width: 70%;
  height: 70%;
}

.bloque-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
}