body {
  margin: 0;
}

header {
  background-color: rgb(58, 58, 58);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20dvh;
}



.cuadro-texto {
  padding: 2dvh 0 2dvh 0;
  align-self: center;
  width: 30dvw;
  height: 1dvh;
}

.barra-superior {
  padding: 2dvh 0 2dvh 0;
  display: flex;
  justify-content: center;
  background-color: rgb(227, 148, 0);
  width: 100%;
  height: 8vh;
}

.logo-pokemon {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}