/*
@Author: Javier Rico Navarro
@Author: Manuel José Muñoz Marín
 */

body {
  margin: 0;
  background-image: url(/imagenes/fondo-body.jpg);
  background-attachment: fixed;
  background-position: center 0;
  background-size: cover;
  height: 100dvh;
}

.dark-mode {
  background-color: #333;
  color: #fff;
  background-image: none;
}

.dark-mode #contenedor-pokemon * {
  background-color: #444;
  color: #fff;
}



.dark-mode .carta-pokemon {
  padding: 0;
}

header {
  background-color: rgb(58, 58, 58);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20dvh;
}

#modo-nocturno img {
  height: 30px;
  width: auto;
}

.barra-superior {
  padding: 2dvh 0 2dvh 0;
  display: flex;
  justify-content: center;
  background-color: rgb(227, 148, 0);
  width: 100%;
  height: 8vh;
}

.logo-pokemon,
a,
img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* EMPIEZO AQUÍ LOS ESTILOS DEL CSS
* @author: Javier Rico Navarro
*/

#contenedor-pokemon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#contenedor-datos {
  background-color: skyblue;
  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr;
  border-radius: 20px;
  width: 60%;
  margin: auto;
}

.carta-pokemon {
  background-color: rgba(214, 214, 214, 0.63);
  border-radius: 20px;
  width: 20dvw;
  height: 38dvh;
  margin-top: 2%;
}

.pokemon-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carta-pokemon img {
  width: 85%;
  height: 85%;
}

.descripcion-pokemon {
  padding: 1%;
  margin-top: 2%;
  margin-left: 2%;
  border-radius: 20px;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(214, 214, 214, 0.63);
}

.descripcion-pokemon h1,
h3,
p {
  text-align: center;
  color: black;
}

.puntos-base {
  font-size: 1em;
  margin-top: 2%;
  margin-left: 2%;
  border-radius: 20px;
  height: 45dvh;
  width: 30dvw;

  background-color: rgba(214, 214, 214, 0.63);
}

.puntos-base-stats {
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 0px;
}

.stats-name {
  text-align: center;
  color: black;
}

.out {
  margin-right: 1dvw;
  height: 2.7dvh;
  background-color: rgb(255, 255, 255);
}

.in {
  height: 100%;
  background-color: rgb(255, 0, 0);
}

.cadena-evolutiva {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 40dvw;
  height: 40dvh;
  margin-top: 5dvh;
  margin-bottom: 5dvh;
}

.contenedor-evoluciones {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 5dvw;
  justify-content: center;
}

.contenedor-evoluciones img {
  height: 60%;
  width: 100%;
}
